<h1>New Note</h1>

<form action="/notes" method="POST">
  <div>
    <textarea
      name="content"
      cols="50"
      rows="10"
      placeholder="What are your thoughts?"
    ></textarea>
  </div>

  <input type="submit" value="Create Note" />
</form>