<h1>Edit Article</h1>

<form action="/articles/<%= article.id %>" method="POST">
  <div>
    <input
      type="text"
      name="title"
      placeholder="About what?"
      value="<%= article.title %>"
    />
  </div>

  <div>
    <textarea
      name="content"
      cols="50"
      rows="10"
      placeholder="What are your thoughts?"
    >
<%= article.content %></textarea
    >
  </div>

  <input type="hidden" name="_method" value="PUT" />
  <input type="submit" value="Edit Article" />
</form>

<%- include("../partials/footer") %>
